.clock {
  width: 360px;
  height: 360px;
  border: 5px solid #826c34;
  -webkit-box-shadow: 1px 0px 78px 2px rgba(206, 167, 69, 0.2) inset;
  -moz-box-shadow: 1px 0px 78px 2px rgba(206, 167, 69, 0.2) inset;
  box-shadow: 1px 0px 78px 2px rgba(206, 167, 69, 0.2) inset;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &::after {
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #826c34;
    -webkit-box-shadow: 0px 5px 56px -23px rgba(241, 241, 228, 0.2) inset;
    -moz-box-shadow: 0px 5px 56px -23px rgba(241, 241, 228, 0.2) inset;
    box-shadow: 0px 5px 56px -23px rgba(241, 241, 228, 0.2) inset;
    position: absolute;
    z-index: 10;
  }
}

.numbers {
  color: #826c34;
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 20px;
  font-weight: 600;
  text-shadow: 1px 1px 2px #57503f;
}

.hand {
  position: absolute;
  bottom: 50%;
  border: 1px solid #826c34;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
}

.hour {
  width: 6px;
  height: 95px;
  background-color: #5c4f2e;
  z-index: 2;
}

.minute {
  width: 3px;
  height: 120px;
  background-color: #736544;
  z-index: 5;
}

.second {
  width: 1px;
  height: 145px;
  background-color: #4d432e;
  z-index: 8;
}

.number1 {
  --rotation: 30deg;
}

.number2 {
  --rotation: 60deg;
}

.number3 {
  --rotation: 90deg;
}

.number4 {
  --rotation: 120deg;
}

.number5 {
  --rotation: 150deg;
}

.number6 {
  --rotation: 180deg;
}

.number7 {
  --rotation: 210deg;
}

.number8 {
  --rotation: 240deg;
}

.number9 {
  --rotation: 270deg;
}

.number10 {
  --rotation: 300deg;
}

.number11 {
  --rotation: 330deg;
}

.number12 {
  --rotation: 360deg;
}

.rotation9 {
  transform: rotate(90deg);
}

.rotation3 {
  transform: rotate(-90deg);
}

.rotation6 {
  transform: rotate(180deg);
}
